name: Build

on:
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18.x'

      - name: Build
        run: |
          npm install && npm run build --if-present
          if [[ $(find . -maxdepth 1 -type d -name 'dist') == '' ]]
          then
            cp -r public dist
          fi
          mkdir actions_artifacts
          echo "prev.event.number=${{ github.event.number }}" > actions_artifacts/env
          mv dist actions_artifacts

      - name: Save build
        uses: actions/upload-artifact@v4
        with:
          name: actions_artifacts
          path: actions_artifacts
